body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, #root {
  background: linear-gradient(209deg, rgba(0,255,241,0.5816527294511555) 0%, rgba(1,121,233,0.5704482476584384) 26%, rgba(3,105,208,0.556442645417542) 59%, rgba(76,95,224,0.43879558659401263) 81%, rgba(0,101,255,0.5816527294511555) 100%);
}
